.card_projeto {
    background-color: #20232a;
    box-sizing: border-box;
    width: 100%;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
    margin-bottom: 2rem;
    transition: .2s;
}

.card_projeto:hover {
    transform: scale(1.005);
    box-shadow: 4px 4px 12px #20232a;
    ;
}

.conteudo_projeto {
    max-width: 80%;
}

.nome_projeto {
    margin: 0 0 10px;
    font-size: 1.4rem;
    display: inline-block;
}

.linguagem_projeto {
    font-size: .9rem;
    border: 1px solid #8b8b8b;
    color: #FFF;
    display: inline;
    border-radius: 5px;
    padding: .2rem .4rem;
    background-color: #a9a9a955;
    margin-top: 1rem;
}

.metadado_projeto {
    color: rgb(129, 133, 135);
    margin: 0 0 5px;
}

.dados_projeto {
    display: flex;
    height: 40px;
    margin-top: 1rem;
}

.dado_projeto {
    margin-right: 20px;
    display: flex;
    align-items: center;
}

.dado_projeto svg {
    margin-right: 5px;
}

.acoes_projeto {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.remover_repo {
    border: none;
    background-color: #bd18184d;
    color: rgb(226, 55, 55);
    padding: .5rem;
    border-radius: 5px;
    cursor: pointer;
}